/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-text-color:#3A3A3A;
    --secondary-text-color:#787885;
    --btn-color:#E02C6D;
}

body{
    margin:80px 120px;
    font-family: 'Poppins', sans-serif; 
}

.primary-font{
    font-family: 'Poppins', sans-serif; 
}

.menubar{
    display: none;;
}


/* Nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

nav>ul{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
nav li{
    list-style: none;
    margin-right: 15px;
   
}

nav li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight:500;
    color: var(--primary-text-color);
}

.li-logo{
    width: 1.5rem;
    height: 1.5rem;
    color: var(--primary-text-color);

}

/* Main Part Start */
.mainpart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.main-text>h1{
    margin-top: 20px;
    font-size: 3rem;
}

.main-text>p{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
    width: 450px;
}





.btn-round{
    background-color: var(--btn-color);
    color: white;
    width: 200px;
    height: 50px;
    padding: 5px 24px;
    border-radius: 30px;
    margin-top: 20px;
    border:0;
    font-weight: 700px;
}
.ferrow{
    margin-left: 20px;
}



.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .camera {
    position: absolute;
    width: 100%;
    height: 100%;

  }
  

/* Responsive Styles Here */

@media screen and (max-width:576px) {
    body{
        margin:10px 20px;
    }
    nav{
       align-items: center;
    }

    nav>ul{
       display: none;
    }
    .menubar{
        display: block;
    }
    .menubar>div{
            width: 25px;
            height: 3px;
            background-color: var(--primary-text-color);
            margin: 6px 0;
          }


    .mainpart{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        
    }

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .camera {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .container .camera>img {
    width: 100px;
  }
  
  .container .circle {
    width: 100%;
  }

.main-text>h1{
    /* width: 400px; */
    font-size: 2.5rem;
}

.main-text>p{
    /* width: 80%;; */
    font-size: 0.8rem;
    text-align: center;
}
.main-text{
    text-align: center;
}






}


